body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.7rem; /* Tamaño base del texto */
}

h2 {
    font-size: 1rem; /* Tamaño de los títulos */
}

.dashboard {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-panel {
    flex: 0 0 50%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin-top: 90px; /* Margen superior añadido */
    margin-left: 60px; /* Margen izquierdo añadido */
}

.right-panel {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    overflow-y: auto;
    margin-top: 90px; /* Margen superior añadido */
}

.transaction-list {
    padding: 0; /* Sin padding adicional */
    margin-top: 10px;
    background-color: #f9f9f9; /* Fondo claro para toda la lista */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 5px; /* Bordes redondeados */
    overflow-y: auto; /* Permitir desplazamiento vertical si hay más de 5 elementos */
    max-height: calc(100vh - 250px); /* Altura máxima para mostrar 5 elementos y ajustarla según la ventana del navegador */
}


.transaction-list li {
    padding: 8px; /* Espacio interno en los elementos de la lista */
    border-bottom: 1px solid #dddddd; /* Borde inferior en los elementos de la lista */
    font-family: Arial, sans-serif; /* Fuente más limpia */
    font-size: 10px; /* Tamaño de fuente ajustado */
    color: #333; /* Texto oscuro */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

.transaction-list li:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para elementos pares */
}

.transaction-list li:hover {
    background-color: #ddd; /* Fondo gris más oscuro al pasar el ratón */
}

.transaction-list li:last-child {
    border-bottom: none; /* Quita el borde inferior del último elemento */
}

.transaction-list li.ok {
    border-left: 5px solid #4caf50; /* Borde verde para filas con HTTP 200 OK */
}

.transaction-list li.error {
    border-left: 5px solid #f44336; /* Borde rojo para filas con errores HTTP */
}

.transaction-list li.ok {
    font-weight: bold; /* Texto en negrita para las celdas */
}
.stats-container, .alert-list {
    margin-bottom: 60px;
}

.stats-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 5px; /* Bordes redondeados */
}

.stats-container th, .stats-container td {
    padding: 8px;
    border: 1px solid #dddddd; /* Borde gris para todas las celdas */
    font-family: Arial, sans-serif; /* Fuente más limpia */
}

.stats-container th {
   
    color: black; /* Texto blanco para las celdas de encabezado */
}

.stats-container tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}



.chart-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.chart-container canvas {
    width: 100% !important;
    max-width: 400px;
    height: auto !important;
}

.failure-indicators, .incident-list {
    width: 100%;
    
}

.failure-cards-container {
    display: flex;
    flex-wrap: wrap;
    
}

.failure-card {
    flex: 1;
    min-width: 150px;
    margin: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    
}
.failure-card p {
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus necesidades */
}

.failure-card h3 {
    margin-top: 0;
    font-size: 1.3rem; /* Tamaño del texto del encabezado */
}

.common-failure-card {
    background-color:  rgba(0, 191, 255, 0.5); /* Sombra celeste */;
}
#pending-list {
    list-style-type: none; /* Quita los bullets de la lista */
    padding: 0; /* Sin padding adicional */
    margin-top: 20px;
    background-color: #f9f9f9; /* Fondo claro para toda la lista */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 5px; /* Bordes redondeados */
    overflow: auto; /* Permitir desplazamiento vertical si hay más de 5 elementos */
    max-height: calc(12px + 5 * (34px + 1px)); /* Altura máxima para mostrar 5 elementos */
}

#pending-list li {
    padding: 12px; /* Espacio interno en los elementos de la lista */
    border-bottom: 1px solid #ddd; /* Borde inferior en los elementos de la lista */
    font-family: Arial, sans-serif; /* Fuente más limpia */
    font-size: 10px; /* Tamaño de fuente ajustado */
    color: #333; /* Texto oscuro */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

#pending-list li:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para elementos pares */
}

#pending-list li:hover {
    background-color: #ddd; /* Fondo gris más oscuro al pasar el ratón */
}

#pending-list li:last-child {
    border-bottom: none; /* Quita el borde inferior del último elemento */
}

.left-panel h2 {
    margin-top: 60px; /* Margen superior añadido solo al título */
}
/* Tabla de informes de incidentes */
.incident-list {
    margin-bottom: 50px; /* Margen inferior aumentado */
    margin-top: 60px; /* Margen superior añadido */
}
.text-center {
    margin-top: 90px !important;
    margin-left: 100px; /* Ajusta el valor según tus necesidades */
    color: grey !important;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 26px !important;
}


  
  #alert-list {
    list-style-type: none; /* Quita los bullets de la lista */
    padding: 0; /* Sin padding adicional */
    margin-top: 20px;
    background-color: #f9f9f9; /* Fondo claro para toda la lista */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 5px; /* Bordes redondeados */
    overflow: auto; /* Permitir desplazamiento vertical si hay más de 5 elementos */
    max-height: calc(12px + 5 * (34px + 1px)); /* Altura máxima para mostrar 5 elementos */
}

#alert-list li {
    padding: 12px; /* Espacio interno en los elementos de la lista */
    border-bottom: 1px solid #ddd; /* Borde inferior en los elementos de la lista */
    font-family: Arial, sans-serif; /* Fuente más limpia */
    font-size: 10px; /* Tamaño de fuente ajustado */
    color: #333; /* Texto oscuro */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

#alert-list li:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para elementos pares */
}

#alert-list li:hover {
    background-color: #ddd; /* Fondo gris más oscuro al pasar el ratón */
}

#alert-list li:last-child {
    border-bottom: none; /* Quita el borde inferior del último elemento */
}

.incident-list {
    margin-top: 20px; /* Espacio superior */
}

#incident-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Esconde bordes fuera del contenedor */
}

#incident-table th, #incident-table td {
    padding: 8px; /* Espacio interno en las celdas */
    border: 1px solid #dddddd; /* Borde gris para todas las celdas */
    font-family: Arial, sans-serif; /* Fuente más limpia */
}

#incident-table th {
    background-color: rgba(0, 191, 255, 0.5); /* Fondo azul para las celdas de encabezado */
    color: black; /* Texto blanco para las celdas de encabezado */
}
#incident-table .resolved td.status-column {
    color: green; /* Texto en verde para estado "Resolved" */
    font-weight: bold; /* Texto en negrita */
}

#incident-table .in-progress td.status-column {
    color: red; /* Texto en rojo para estado "In Progress" */
    font-weight: bold; /* Texto en negrita */
}

#incident-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}

#incident-table tr:hover {
    background-color: #ddd; /* Fondo gris más oscuro al pasar el ratón */
}

#incident-table tr:last-child {
    border-bottom: none; /* Quita el borde inferior del último elemento */
}

.countdown {
    color: red; /* Texto en rojo */
    font-weight: bold; /* Texto en negrita */
}

#gauge-container {
    position: absolute;
    top: 50px; /* Ajusta la distancia desde la parte superior */
    left: 170px; /* Ajusta la distancia desde la parte izquierda */
    width: 250px; /* Ancho del contenedor */
    height: 150px; /* Alto del contenedor */
}

#preview-textfield {
    bottom: -25px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
    font-family: 'Amaranth', sans-serif;
}

#preview {
    background: #f9f9f9;
    position: relative;
    color: #fff;
    float: left;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;
    width: 550px; /* Ancho del contenedor */
    height: 450px; /* Alto del contenedor */
}
